body {
    background-color: #007acc;
}

header, .project:not(:last-child) {
    /* border-bottom: 1px solid #ccc; */
  }
  
.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}
  
.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}
  
.dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
}
  
#title-box {
    background-color: #056605;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    padding: 2rem;
    background-color:#3e3e3e; /* Set the background color of the header */
  }

  /* Style for the nav */
  nav {
    margin: 10px; /* Add some spacing between nav and title-box */
    font-size: 20px;
  }

  nav a {
    padding: 10px;
  }


  /* Style for the title-box */
  #title-box {
    background-color: #007acc; /* Set a different background color for the title box */
    padding: 10px; /* Add padding to the title box */
    border-radius: 5px; /* Add rounded corners to the title box */
    margin: 20px;
  }

  #page-title {
    margin: 0; /* Remove default margin for the h1 element */
    color: #fff; /* Set the text color for the title */
  }

  #post-box {
    background-color: #69aadb;
    border-radius: 5px;
    border: 2px solid black;
    display: flex; /* Make the entire post-box a flex container */
    flex-direction: column; /* Set default direction to column */
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  #post-header {
    padding: 5px;
    background-color: #ffffff;
    display: flex; /* Make the post-header a flex container */
    flex-direction: row; /* Display name and description on the same row */
    justify-content: space-between; /* Add space between name and description */
    align-items: center; /* Vertically center align name and description */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

#post-header h2 {
  margin-left: 10px;
}

  #post-header p {
    padding: 5px;
    font-size: 20px;
  }
  
  #post-description {
    margin-top: 10px; /* Add spacing between post-header and post-description */
  }

  #comment-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    margin: 20px;
    margin-top: 40px;
    color: white;
  }

#comment {
  background-color: #69aadb;
  border-radius: 5px;
  border: 2px solid black;
  display: flex; /* Make the entire post-box a flex container */
  flex-direction: column; /* Set default direction to column */
  margin-bottom: 20px;
  border-radius: 10px;
}

#comment-description {
  font-size: 20px;
  margin-left: 8px;
}

#welcome {
  display: inline-block; /* Display as an inline-block element */
  background-color: #69aadb;
  padding: 5px; /* Add some padding to create space around the text */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#welcome h2 {
  margin: 0.5rem 0.5rem 0.5rem;
  line-height: 1.25;
}

#user-posts {
  background-color: white;
  border-radius: 10px; /* Adjust the value to control the roundness of the edges */
}

#user-posts-title {
  border-bottom: 2px solid black; /* Add a black border at the bottom */
  padding-top: 10px; /* Add some spacing between the title and posts */
}

/* Style for the individual posts */
.row.mb-2 {
  padding: 10px 0; /* Add spacing between each post */
}

#individual-user-posts {
  
}
